# API URLs
NEXT_PUBLIC_API_URL=http://localhost:6001
NEXT_PUBLIC_NOTIFY_URL=http://localhost:7004/notifications
NEXT_PUBLIC_GAMIFICATION_API_URL=http://localhost:7005

# NextAuth Configuration
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

# Identity Service
ID_URL=http://localhost:5000
API_URL=http://gateway-svc/
API_URL_LOCAL=http://localhost:6001
CLIENT_SECRET=your-client-secret
